@page "/books"
@using AudioWebApp.Client.Services
@inject SharedDataService sharedDataService
@inject AudioBookService audioBookService
@using System.Collections.ObjectModel

<div>
    <MudCardContent class="book-container">

        @if (dataReady == null)
        {
            <MudPaper Class="d-flex justify-center align-center" Elevation="0" Height="100vh">
                <MudProgressCircular Style="color:#5F76A6; " Indeterminate="true" />
            </MudPaper>
        }
        else
        {
            <MudPaper Elevation="0" Width="350px">
                <MudList Clickable="false">
                    @foreach (var book in audioBookService.AudioBooks)
                    {
                        <MudCard class="book-card" Elevation="0">
                            <MudCardMedia Image="@book.ImageSource" Height="350" Width="320" />
                            <MudCardContent class="book-text-container">
                                <MudText class="heading-text">@book.SeriesTitle</MudText>
                                <MudText class="subheading-text">@book.SeriesSubtitle</MudText>
                                <MudText class="title-text">@book.BookTitle</MudText>
                            </MudCardContent>
                            <MudCardActions class="book-card-button-container">
                                <MudButton class="book-card-button" StartIcon="@Icons.Material.Filled.PlayCircleOutline"
                                           @onclick="(e) => OpenAudio(book.BookTitle, book.AudioSource)">Listen</MudButton>
                            </MudCardActions>
                        </MudCard>
                    }
                </MudList>
            </MudPaper>
        }
    </MudCardContent>
</div>

@code {
    
    string? dataReady;

    protected override async Task OnInitializedAsync()
    {
        await audioBookService.GetAudioBooks();

        dataReady = "dataLoaded";
    }
    public void OpenAudio(string audioName, string audioLink)
    {
        sharedDataService.AudioTitle = audioName;
        sharedDataService.AudioLink = audioLink;
        
        sharedDataService.TogglePlayer();
    }
}
