@page "/books"
@using System.Collections.ObjectModel

<div>
    <MudCardContent>

        @if (dataReady == null)
        {
            <MudPaper Class="d-flex justify-center align-center" Elevation="0" Height="100vh">
                <MudProgressCircular Style="color:#5F76A6; " Indeterminate="true" />
            </MudPaper>
        }
        else
        {
            <MudPaper Elevation="0" Width="350px">
                <MudList Clickable="true">
                    @foreach (var book in books)
                    {
                        <MudCard class="book-card" Elevation="0">
                            <MudCardMedia Image="@book.ImageSource" Height="350" Width="320" />
                            <MudCardContent style="background-color: #d8e6fe">
                                <MudText class="heading-text">@book.SeriesTitle</MudText>
                                <MudText class="subheading-text">@book.SeriesSubtitle</MudText>
                                <MudText class="title-text">@book.BookTitle</MudText>
                            </MudCardContent>
                            <MudCardActions  style="background-color: #d8e6fe; justify-content:center;">
                                <MudButton class="book-card-button" StartIcon="@Icons.Material.Filled.PlayCircle" 
                                           @onclick="(e) => OpenAudio(book.BookTitle, book.AudioSource)">Listen</MudButton>
                            </MudCardActions>
                        </MudCard>
                    }
                </MudList>
            </MudPaper>
        }
    </MudCardContent>
</div>

@code {
    ObservableCollection<AudioBook> books = new ObservableCollection<AudioBook>();
    string? dataReady;
    protected override async Task OnInitializedAsync()
    {
        books.Add(new AudioBook
            {
                SeriesTitle = "Empire of the Risen Son:",
                SeriesSubtitle = "A Treatise on the Kingdom of God - What it is any Why it Matters",
                BookTitle = "Book One: There is Another King",
                AudioSource = "https://theos.s3.us-west-1.amazonaws.com/books/1_Complete+Audiobook-Empire_of_the_Risen_Son_Book_1.mp3",
                ImageSource = "./images/empireoftheson_book1.jpg"
            });
        books.Add(new AudioBook
        {
            SeriesTitle = "Empire of the Risen Son:",
            SeriesSubtitle = "A Treatise on the Kingdom of God - What it is any Why it Matters",
            BookTitle = "Book Two: All the King's Men",
            AudioSource = "https://theos.s3.us-west-1.amazonaws.com/books/Empire_of_the_Risen_Son-Book_2-by_Steve_Gregg.mp3",
            ImageSource = "./images/empireoftheson_book2.jpg"
        });

        dataReady = "dataLoaded";
    }
    public void OpenAudio(string audioName, string audioLink)
    {
        Console.WriteLine("opening media");
        //string serverPath = sharedDataService.GetServerPath(apiService.Servers, serverName);

        //sharedDataService.AudioTitle = audioName;
        //sharedDataService.AudioLink = Path.Combine(serverPath, audioLink);
        
        //sharedDataService.TogglePlayer();
    }

    public class AudioBook{
        public string? SeriesTitle { get; set; }
        public string? SeriesSubtitle { get; set; }
        public string? BookTitle { get; set; }
        public string? AudioSource { get; set; }
        public string? ImageSource { get; set; }
        public string? Link { get; set; }
    }
}
