@page "/how-to"


<div>
    <MudCardContent class="howTo-main-container">
        <MudPaper class="howtoContainer">
            <MudTreeView T="string" ExpandOnClick="true">
                <MudTreeViewItem Value="@("Add to home screen")" class="labelHeader">
                    <MudTreeViewItem Value="@("Android")" Icon="@Icons.Material.Filled.Android" IconColor="Color.Success" class="subLabelHeader">
                        <MudPaper Class="d-flex flex-wrap gap-4" MaxWidth="100%" Elevation="0">
                            <MudCard class="howTo-Card">
                                <MudCardMedia Image="./images/AndroidAddStep1.png" Height="200" />
                                <MudCardContent class="howTo-card-text-container">
                                    <MudText class="howTo-card-header-text">Step: 1</MudText>
                                    <MudText class="howTo-card-body-text">Press the three dots at the top right corner.</MudText>
                                    <MudText class="howTo-card-body-text">A drop down menu is now shown.</MudText>
                                </MudCardContent>
                            </MudCard>
                            <MudCard class="howTo-Card">
                                <MudCardMedia Image="./images/AndroidAddStep2.png" Height="200" />
                                <MudCardContent class="howTo-card-text-container">
                                    <MudText class="howTo-card-header-text" >Step: 2</MudText>
                                    <MudText class="howTo-card-body-text">Press "Install app" in the menu options.</MudText>
                                </MudCardContent>
                            </MudCard>
                            <MudCard class="howTo-Card">
                                <MudCardMedia Image="./images/AndroidAddStep3.png" Height="200" />
                                <MudCardContent class="howTo-card-text-container">
                                    <MudText class="howTo-card-header-text">Step: 3</MudText>
                                    <MudText class="howTo-card-body-text">Press "Install to install the app."</MudText>
                                    
                                </MudCardContent>
                            </MudCard>
                            <MudCard class="howTo-Card">
                                <MudCardMedia Image="./images/AndroidAddStep4.png" Height="200" />
                                <MudCardContent class="howTo-card-text-container">
                                    <MudText class="howTo-card-header-text">Step: 4</MudText>
                                    <MudText class="howTo-card-body-text">Press "Add to home screen".</MudText>
                                    
                                </MudCardContent>
                            </MudCard>
                        </MudPaper>
                    </MudTreeViewItem>
                    <MudDivider/>
                    <MudTreeViewItem Value="@("Apple")" Icon="@Icons.Custom.Brands.Apple" class="subLabelHeader">
                        <MudPaper Class="d-flex flex-wrap gap-4" MaxWidth="100%" Elevation="0">
                            <MudCard class="howTo-Card">
                                <MudCardMedia Image="./images/IOSaddStep1.png" Height="200" />
                                <MudCardContent class="howTo-card-text-container">
                                    <MudText class="howTo-card-header-text">Step: 1</MudText>
                                    <MudText class="howTo-card-body-text">In the browser press the "Share" icon.</MudText>
                                </MudCardContent>
                            </MudCard>
                            <MudCard class="howTo-Card">
                                <MudCardMedia Image="./images/IOSaddStep2.png" Height="200" />
                                <MudCardContent class="howTo-card-text-container">
                                    <MudText class="howTo-card-header-text">Step: 2</MudText>
                                    <MudText class="howTo-card-body-text">Press "Add to Home Screen".</MudText>
                                   
                                </MudCardContent>
                            </MudCard>
                            <MudCard class="howTo-Card">
                                <MudCardMedia Image="./images/IOSaddStep3.png" Height="200" />
                                <MudCardContent class="howTo-card-text-container">
                                    <MudText class="howTo-card-header-text">Step: 3</MudText>
                                    <MudText class="howTo-card-body-text">Press "Add".</MudText>
                                </MudCardContent>
                            </MudCard>
                            <MudCard class="howTo-Card">
                                <MudCardMedia Image="./images/IOSaddStep4.png" Height="200" />
                                <MudCardContent class="howTo-card-text-container">
                                    <MudText class="howTo-card-header-text">Step: 4</MudText>
                                    <MudText class="howTo-card-body-text">Navigate to the home screen.</MudText>
                                    <MudText class="howTo-card-body-text">The app is now added to the home screen.</MudText>
                                </MudCardContent>
                            </MudCard>
                            
                        </MudPaper>
                    </MudTreeViewItem>
                </MudTreeViewItem>
                <MudTreeViewItem Value="@("Add a favorite")" class="labelHeader">
                    <MudPaper Class="d-flex flex-wrap gap-4" MaxWidth="100%" Elevation="0">
                        <MudCard class="howTo-Card">
                            <MudCardMedia Image="./images/AddAFavoriteStep1.png" Height="200" />
                            <MudCardContent class="howTo-card-text-container">
                                <MudText class="howTo-card-header-text">Step: 1</MudText>
                                <MudText class="howTo-card-body-text">When listening to a favorite, click the heart "+" button. </MudText>
                                <MudText class="howTo-card-body-text">This will to save the message to your favorites collection.</MudText>
                            </MudCardContent>
                        </MudCard>
                        <MudCard class="howTo-Card">
                            <MudCardMedia Image="./images/AddAFavoriteStep2.png" Height="200" />
                            <MudCardContent class="howTo-card-text-container">
                                <MudText class="howTo-card-header-text">Step: 2</MudText>
                                <MudText class="howTo-card-body-text">Then later navigate in the menu and click on the "Favorite" button to view your favorite lectures.</MudText>
                                <MudText class="howTo-card-body-text">Click on a lecture to continue listening.</MudText>
                            </MudCardContent>
                        </MudCard>
                    </MudPaper>
                </MudTreeViewItem>
                <MudTreeViewItem Value="@("Remove a favorite")" class="labelHeader">
                    <MudPaper Class="d-flex flex-wrap gap-4" MaxWidth="100%" Elevation="0">
                        <MudCard class="howTo-Card">
                            <MudCardMedia Image="./images/RemoveAFavoriteStep1.png" Height="200" />
                            <MudCardContent class="howTo-card-text-container">
                                <MudText class="howTo-card-header-text">Step: 1</MudText>
                                <MudText class="howTo-card-body-text"> When you no longer want an audio lecture in the favorites collection, navigate in the menu and click on "Favorite".</MudText>
                            </MudCardContent>
                        </MudCard>
                        <MudCard class="howTo-Card">
                            <MudCardMedia Image="./images/RemoveAFavoriteStep2.png" Height="200" />
                            <MudCardContent class="howTo-card-text-container">
                                <MudText class="howTo-card-header-text">Step: 2</MudText>
                                <MudText class="howTo-card-body-text">Then click on the heart "-" button to remove a lecture from the favorites collection.</MudText>
                                
                            </MudCardContent>
                        </MudCard>
                    </MudPaper>
                </MudTreeViewItem>
            </MudTreeView>
        </MudPaper>
    </MudCardContent>
</div>


@code {
    private bool _expanded = false;
    private void OnExpandCollapseClick()
    {
        _expanded = !_expanded;
    }
}
