@page "/how-to"


<div>
    <MudCarousel Class="mud-width-full" Style="height:675px; margin-top:20px;" ShowArrows="@arrows" 
                ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" AutoCycleTime="@autoCycleTime" TData="object">

        <MudCarouselItem Transition="transition" style="background-color:#243F77">
            <MudStack AlignItems="AlignItems.Center">
                <MudPaper Class="pa-3" Elevation="0">
                    <MudText style="font-size:26px; color:#D5D8E5;">Why a new web app?</MudText>
                </MudPaper>
                <MudPaper Class="pa-3" Elevation="1">
                    <MudText style="font-size:18px; color:#D5D8E5;">
                        This audio web app focuses on playing The Narrow Path audio lectures!  <br /><br />
                        Any lecture you listen to is automatically remembered and the 
                        exact location restored when you come back to listen to it later. 
                        This was the most requested feature.
                    </MudText>
                </MudPaper>
            </MudStack>
        </MudCarouselItem>


        <MudCarouselItem Transition="transition" style="background-color:#243F77;">
            <MudStack AlignItems="AlignItems.Center">
                <MudPaper Class="pa-3" Elevation="0">
                    <MudStack Row="false" Justify="Justify.Center">
                        <MudPaper Elevation="0" Class="d-flex justify-center">
                            <MudIcon style="font-size:26px; color:#D5D8E5;" Icon="@Icons.Custom.Brands.Apple"></MudIcon>
                        </MudPaper>
                        <MudPaper Elevation="0">
                            <MudText style="font-size:26px; color:#D5D8E5;">
                                Add to home screen<br/>
                                Apple Devices
                                </MudText>
                        </MudPaper>
                    </MudStack>
                   
                </MudPaper>

                <MudImage Src="images/howtosavehomescreen.png" Height="240" Alt="Favorite" Elevation="1" Class="rounded-lg ma-4" />

                <MudPaper Class="pa-3" Elevation="2">
                    <MudText style="font-size:18px; color:#D5D8E5;">
                        Follow these steps to add to home screen.<br />
                        1. In your browser press the "Share" icon. <br/>
                        2. Press "Add to Home Screen". <br/>
                        3. Press "Add".<br/>
                        4. Navigate to home screen and launch TheNarrowPath.
                    </MudText>
                </MudPaper>
            </MudStack>

        </MudCarouselItem>
        <MudCarouselItem Transition="transition" style="background-color:#243F77;">
            <MudStack AlignItems="AlignItems.Center">
                <MudPaper Class="pa-3" Elevation="0">
                    <MudStack Row="false" Justify="Justify.Center">
                        <MudPaper Elevation="0" Class="d-flex justify-center">
                            <MudIcon style="font-size:26px; color:#3ddc84;" Icon="@Icons.Material.Filled.Android"></MudIcon>
                        </MudPaper>
                        <MudPaper Elevation="0">
                            <MudText style="font-size:26px; color:#D5D8E5;">
                                Add to home screen <br />
                                Android Devices
                            </MudText>
                        </MudPaper>
                        
                    </MudStack>
                    
                </MudPaper>

                <MudImage Src="images/HowToSaveAndroidMobile.png" Height="240" Alt="Favorite" Elevation="1" Class="rounded-lg ma-4" />

                <MudPaper Class="pa-3" Elevation="2">
                    <MudText style="font-size:18px; color:#D5D8E5;">
                        Follow these steps to add to home screen.<br />
                        1. Press the three dots on the top right corner.<br />
                        2. Press "Install app" in the menu options.<br />
                        3. Press "Install" to install the app.<br />
                        4. Press "Add to home screen".<br/>
                        5. Navigate to home screen and launch TheNarrowPath.
                    </MudText>
                </MudPaper>
            </MudStack>

        </MudCarouselItem>

        <MudCarouselItem Transition="transition" style="background-color:#243F77;">
            <MudStack AlignItems="AlignItems.Center">
                <MudPaper Class="pa-3" Elevation="0">
                    <MudText style="font-size:26px; color:#D5D8E5;">Save to favorite</MudText>
                </MudPaper>

                <MudImage Src="images/books-screenshot-square.png" Width="240" Height="240" Alt="Favorite" Elevation="1" Class="rounded-lg ma-4" />

                <MudPaper Class="pa-3" Elevation="2">
                    <MudText style="font-size:18px; color:#D5D8E5;">
                        When listening to a lecture that you want to favorite, click on the heart "+" button to save it to the favorites collection.<br /><br />
                        Then later navigate in the menu and click on the "Favorite" button to view favorited lectures. Click on a lecture to continue listening.
                    </MudText>
                </MudPaper>
            </MudStack>
        
        </MudCarouselItem>

        <MudCarouselItem Transition="transition" style="background-color:#243F77">
            <MudStack AlignItems="AlignItems.Center">
                <MudPaper Class="pa-3" Elevation="0">
                    <MudText style="font-size:26px; color:#D5D8E5;">Remove from favorite</MudText>
                </MudPaper>

                <MudImage Src="images/favorite-removal.png" Width="240" Height="240" Alt="Favorite" Elevation="1" Class="rounded-lg ma-4" />

                <MudPaper Class="pa-3" Elevation="2">
                    <MudText style="font-size:18px; color:#D5D8E5;">
                        When you no longer want an audio lecture in the favorites collection, navigate in the menu and click on "Favorite".<br /><br />
                        Then click on the heart "-" button to remove a lecture from the favorites collection.
                    </MudText>
                </MudPaper>
            </MudStack>
        
        </MudCarouselItem>

    </MudCarousel>
</div>


@code {
    private bool arrows = true;
    private bool bullets = true;
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;
    TimeSpan autoCycleTime = TimeSpan.FromSeconds(20);
}
