@using AudioWebApp.Client.Services
@inherits LayoutComponentBase
@inject SharedDataService SharedDataService
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <div>
    <MudAppBar Elevation="0">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" 
        Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
            <MastHead />
    </MudAppBar>
    
    <MudDrawer @bind-Open="_drawerOpen" Elevation="1" ClipMode="DrawerClipMode.Always">
        
        <NavMenu />
        
    </MudDrawer>
    
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="ma-0 pa-0">
                    @Body
                @if (playerOpen == true)
                {
                    <div class="stickyplayer">
                        <div class="d-flex flex-grow-1 gap-0">
                            <MudPaper Class="flex-none d-flex py-0 align-bottom" Style="justify-content:flex-start;" Width="50px" Elevation="0">
                                <MudButton Style=" padding:0px; color:#9396A1" OnClick="ClosePlayer">
                                    <MudIcon Icon="@Icons.Material.Filled.Close" Title="close player"></MudIcon>
                                </MudButton>
                            </MudPaper>
                        </div>
                        <div class="d-flex flex-grow-1 gap-0">
                            <MudPaper Class="flex-auto d-flex py-0 justify-center align-center"  Width="100%" Elevation="0">
                                <MudText>@audioTitle</MudText>
                            </MudPaper>
                        </div>  
                        <div class="d-flex flex-grow-1 gap-0">
                            <MudPaper Class="flex-auto d-flex py-3 justify-center align-center"  Width="100%" Elevation="0">
                                <audio src="@audioSource" controls autoplay></audio>
                            </MudPaper>
                        </div>
                    </div>
                }
        </MudContainer>
    </MudMainContent>
    </div>
</MudLayout>

@code {

    string? audioTitle;
    string? audioSource;
    bool playerOpen = false;
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
    void ClosePlayer()
    {
        playerOpen = false;
    }
    protected override void OnInitialized()
    {
        SharedDataService.OnPlayerToggle += HandlePlayerToggle;
    }
    private void HandlePlayerToggle()
    {
        playerOpen = true;
        audioTitle = SharedDataService.AudioTitle;
        audioSource = SharedDataService.AudioLink;
        StateHasChanged();
    }
    

}