<div>
<MudPaper Width="100%" Elevation="0" Class="py-3" >
    <MudNavMenu Bordered="true">
        <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home"  >Home</MudNavLink>
        <MudNavLink Href="how-to" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.QuestionMark">How To</MudNavLink>
        <MudNavLink Href="radio" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Radio" >Radio</MudNavLink>
        <MudNavLink Href="audio-books" Match="NavLinkMatch.Prefix" Icon="@audioBookIcon">Audio Books</MudNavLink>
        <MudNavLink Href="topical" Match="NavLinkMatch.Prefix" Icon="@topicalIcon">Topical</MudNavLink>
        <MudNavLink Href="verse-by-verse" Match="NavLinkMatch.Prefix" Icon="@vbvIcon" >Verse by Verse</MudNavLink>
        <MudNavLink Href="book-overviews" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.LibraryBooks">Book Overview</MudNavLink>
        <MudNavLink Href="debates" Match="NavLinkMatch.Prefix" Icon="@debateIcon">Debates</MudNavLink>
        <MudNavLink Href="teachings" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.School">Teachings</MudNavLink>
        <MudNavLink Href="life-of-christ" Match="NavLinkMatch.Prefix" Icon="@lifeOfChristIcon">Life Of Christ</MudNavLink>
        <MudNavLink Href="favorites" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Favorite">Favorite</MudNavLink>
        <MudNavLink Href="share" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Share">Share</MudNavLink>
        <MudDivider Class="my-2"/>
        <MudNavGroup Title="Extras" Expanded="false" Icon="@Icons.Material.Filled.More">
            <MudNavGroup Title="YouTube" Icon="@Icons.Custom.Brands.YouTube">
                    <MudNavLink Href="https://www.youtube.com/c/TheNarrowPath/videos" Icon="@Icons.Custom.Brands.YouTube" Target="_blank">TNP</MudNavLink>
                    <MudNavLink Href="https://www.youtube.com/c/SteveGreggVideos/videos" Icon="@Icons.Custom.Brands.YouTube" Target="_blank">Steve Gregg</MudNavLink>
            </MudNavGroup>
            <MudNavLink Href="https://podcasts.apple.com/us/podcast/the-narrow-path-radio-program-1-hour/id171641936" Target="_blank" Icon="@Icons.Material.Filled.Podcasts" >Podcasts</MudNavLink>
            <MudNavLink Href="https://www.everand.com/lists/26277194/The-narrow-path" Target="_blank" Icon="@everAndIcon">Recommendations</MudNavLink>
            <MudNavLink Href="https://www.amazon.com/stores/Steve-Gregg/author/B00CUL970G" Target="_blank" Icon="@amazonIcon">Amazon</MudNavLink>
            <MudNavLink Href="https://www.matthew713.com/" Target="_blank" Icon="@matthew713Icon">Matthew713</MudNavLink>
            <MudNavLink Href="https://opentheo.org/steve-gregg" Target="_blank" Icon="@openTheosIcon">OpenTheo</MudNavLink>
            <MudNavLink Href="https://www.thenarrowpath.com/" Icon="@tnpIcon" Target="_blank" >The Narrow Path</MudNavLink>
        </MudNavGroup>
        <MudDivider Class="my-2" />
        <MudNavGroup Title="Contact" Expanded="false" Icon="@Icons.Material.Filled.ContactPage">
                <MudNavLink Href="https://www.facebook.com/groups/45923991739" Icon="@Icons.Custom.Brands.Facebook" Target="_blank">Facebook</MudNavLink>
                <MudNavLink Href="mailto:steve@thenarrowpath.com" Icon="@Icons.Material.Filled.Email">Email</MudNavLink>
                <MudNavLink Href="https://github.com/jwkent/AudioWebApp/discussions" Icon="@Icons.Custom.Brands.GitHub" Target="_blank">App Feedback</MudNavLink>
                <MudStack Justify="Justify.Center" style="padding-left:40px;padding-top: 20px;" >
                    <MudText Typo="Typo.caption">Version 1.0.6</MudText>
                </MudStack>
                
            </MudNavGroup>
    </MudNavMenu>
</MudPaper>
</div>
@code{

    string tnpIcon = "<svg style=\"width:20px;height:20px\" viewBox=\"0 0 20 20\">" +
    "<path d=\"M0,20.16V.24h20.16v19.92H0ZM9.08,19.12h2.03V7.17h4.42v-2.04h-4.49V1.28h-2v3.88h-4.4v2.08h4.44v11.87Z\"/>" +
    "<path d=\"M20.16.24c-6.72,0-13.44,0-20.16,0C.08.16.16,0,.24,0c6.56-.01,13.12-.01,19.68,0,.08,0,.16.15.24.23Z\"/>"+
    "<path d=\"M0,20.16h20.16c-.08.08-.16.23-.24.23-6.56.01-13.12.01-19.69,0-.08,0-.16-.15-.24-.23Z\"/>" + "</svg>";

    string openTheosIcon = "<svg style=\"width:20px;height:20px\" viewBox=\"0 0 20 20\">" +
    "<path d = \"M17.32,20H2.68c-1.48,0-2.68-1.2-2.68-2.68V2.68C0,1.2,1.2,0,2.68,0h14.63c1.48,0,2.68,1.2,2.68,2.68v14.63c0,1.48-1.2,2.68-2.68,2.68ZM10,2c-3.59,0-6.5,3.58-6.5,8s2.91,8,6.5,8,6.5-3.58,6.5-8S13.59,2,10,2Z\" style=\"stroke-width: 0px;\"/>" +
    "<g>" +
    "<ellipse cx = \"10\" cy=\"10\" rx=\"6\" ry=\"7.5\" style=\"stroke-width: 0px;\"/>" +
    "<path d = \"M10,3c3.03,0,5.5,3.14,5.5,7s-2.47,7-5.5,7-5.5-3.14-5.5-7,2.47-7,5.5-7M10,2c-3.59,0-6.5,3.58-6.5,8s2.91,8,6.5,8,6.5-3.58,6.5-8S13.59,2,10,2h0Z\" style=\"fill: #fff; stroke-width: 0px;\"/>" +
    "</g>" +
    "</svg>";

    string topicalIcon = "<?xml version=\"1.0\" encoding=\"UTF-8\"?>" +
    "<svg id=\"Layer_7\" data-name=\"Layer 7\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 23.51 25\">" +
      "<path d=\"M14.56,8.5c0,1.38-1.12,2.5-2.5,2.5s-2.5-1.12-2.5-2.5V2.5c0-1.38,1.12-2.5,2.5-2.5s2.5,1.12,2.5,2.5v6Z\" style=\"stroke-width: 0px;\"/>" +
      "<path d=\"M17.02,7.5c0,2.76-2.24,5-5,5s-5-2.24-5-5\" style=\"fill: none; stroke: #0840aa; stroke-miterlimit: 10; stroke-width: 1.5px;\"/>" +
      "<line x1=\"12.02\" y1=\"13\" x2=\"12.02\" y2=\"16\" style=\"fill: none; stroke: #0840aa; stroke-miterlimit: 10; stroke-width: 1.5px;\"/>" +
      "<rect x=\"-.57\" y=\"18.59\" width=\"12\" height=\"2\" transform=\"translate(12.65 .59) rotate(36.29)\" style=\"stroke-width: 0px;\"/>" +
      "<rect x=\"11.43\" y=\"21.59\" width=\"12\" height=\"2\" transform=\"translate(-3.22 2.9) rotate(-8.71)\" style=\"stroke-width: 0px;\"/>" +
      "<circle cx=\"11.12\" cy=\"23.5\" r=\"1.5\" style=\"fill: #fff; stroke-width: 0px;\"/>" +
      "<polygon points=\"3.12 14.5 6.32 14 10.95 17.71 18.35 16.79 21.62 19.17 11.12 20.5 3.12 14.5\" style=\"stroke: #0840aa; stroke-miterlimit: 10;\"/>" +
      "<line x1=\"12.02\" y1=\"17\" x2=\"12.02\" y2=\"19\" style=\"fill: none; stroke: #fff; stroke-miterlimit: 10; stroke-width: 1.5px;\"/>" +
    "</svg>";

    string vbvIcon = "<?xml version=\"1.0\" encoding=\"UTF-8\"?>" +
    "<svg id=\"Layer_8\" data-name=\"Layer 8\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 21.46 19.1\">" +
      "<path d=\"M10.38,4.8v12.97c0-2.83-7.14-4.15-7.14-4.15V.5c4.75,0,7.14,4.3,7.14,4.3Z\" style=\"fill: none; stroke: #0840AA; stroke-miterlimit: 10;\"/>" +
      "<path d=\"M1.71,14.85l-.03-11.65v-1.1c.53,0,1.05.04,1.56.12v11.39\" style=\"fill: none; stroke: #0840AA; stroke-miterlimit: 10;\"/>" +
      "<path d=\"M10.54,18.64c-.18-2.61-10.04-1.51-10.04-1.51V3.24c.68,0,.48-.13,1.18-.04l.03,11.65s8.64,1.05,8.83,3.79Z\" style=\"stroke: #0840AA; stroke-miterlimit: 10;\"/>" +
      "<path d=\"M19.87.68v16.08s-4.39-1.46-9.5.37l.18-12.89s.56-3.55,9.33-3.55Z\" style=\"fill: none; stroke: #0840AA; stroke-miterlimit: 10;\"/>" +
      "<path d=\"M20.96,2.14v15.71l-10.41.72c-.55-3.64,9.32-1.81,9.32-1.81V2.17c.36-.01.72-.02,1.1-.02Z\" style=\"stroke: #0840AA; stroke-miterlimit: 10;\"/>" +
      "<line x1=\"14.75\" y1=\"3.61\" x2=\"14.75\" y2=\"14.2\" style=\"fill: none; stroke: #0840AA; stroke-miterlimit: 10;\"/>" +
      "<line x1=\"12.19\" y1=\"5.8\" x2=\"17.31\" y2=\"5.8\" style=\"fill: none; stroke: #0840AA; stroke-miterlimit: 10;\"/>" +
    "</svg>";

     string lifeOfChristIcon = "<?xml version=\"1.0\" encoding=\"UTF-8\"?>" +
    "<svg id=\"loc\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 20.58 22.29\">" +
      "<path d=\"M0,13.15s2.8,4.38,2.57,5.75c0,0,3.66-2.03,8.2-3.06s7.97,1.37,7.92,1.28c-.54-.86,1.89-6.01,1.89-6.01,0,0-3.26,1.72-4.36,1.44-.87-.22-2.16-2.59-2.16-2.59,0,0-2.68,2.72-3.92,2.81-1.03.07-3.45-1.9-3.45-1.9,0,0-1.18,2.53-2.04,2.89-1.09.46-4.66-.61-4.66-.61Z\" style=\"stroke-width: 0px;\"/>" +
     "<path d=\"M9.44,19.41c-3.77.28-6.7-.1-6.81-.95-.11-.94,3.36-2.11,7.76-2.6s8.06-.12,8.18.82-3.77,2.76-8.07,3.05\" style=\"fill: #fff; stroke: #0840aa; stroke-miterlimit: 10; stroke-width: .75px;\"/>" +
      "<rect x=\"8.84\" y=\".18\" width=\"4.12\" height=\"21.92\" transform=\"translate(2.79 -2.17) rotate(13)\" style=\"stroke-width: 0px;\"/>" +
      "<rect x=\"9.82\" y=\"-.05\" width=\"4.12\" height=\"12.3\" transform=\"translate(20.49 -4.11) rotate(103)\" style=\"stroke-width: 0px;\"/>" +
    "</svg>";

    string debateIcon = "<?xml version=\"1.0\" encoding=\"UTF-8\"?>" +
    "<svg id=\"debate\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 21 17.84\">"+
      "<g>" +
        "<path d=\"M2.81,14.4c-.09-.44-.19-.98-.3-1.63l-.06-.37-.37-.04c-.89-.1-1.57-.85-1.57-1.75V2.26c0-.97.79-1.76,1.76-1.76h13.77c.97,0,1.76.79,1.76,1.76v8.35c0,.97-.79,1.76-1.76,1.76H4.28l-.15.15c-.45.47-.96,1.1-1.32,1.88Z\" style=\"stroke-width: 0px;\"/>" +
        "<path d=\"M16.03,1c.7,0,1.26.57,1.26,1.26v8.35c0,.7-.57,1.26-1.26,1.26H4.06l-.3.31c-.23.24-.47.52-.71.84-.02-.11-.04-.22-.06-.34l-.13-.74-.75-.08c-.64-.07-1.12-.61-1.12-1.25V2.26c0-.7.57-1.26,1.26-1.26h13.77M16.03,0H2.26C1.01,0,0,1.01,0,2.26v8.35c0,1.17.88,2.12,2.01,2.25.19,1.09.61,3.42.76,3.42.02,0,.03-.04.04-.13.14-1.45,1.05-2.62,1.67-3.27h11.54c1.25,0,2.26-1.01,2.26-2.26V2.26c0-1.25-1.01-2.26-2.26-2.26h0Z\" style=\"stroke-width: 0px;\"/>" +
      "</g>" +
      "<rect x=\"6.1\" y=\"2.94\" width=\"13.77\" height=\"11.06\" rx=\"1.86\" ry=\"1.86\" style=\"fill: #fff; stroke-width: 0px;\"/>" +
      "<path d=\"M21,6.1v6.54c0,1.25-1.01,2.26-2.26,2.26h-4.69c-.72,1.34-1.9,3.45-1.74,2.82.27-1.08,0-2.1-.32-2.82h-2.95c-1.25,0-2.26-1.01-2.26-2.26v-6.54c0-1.25,1.01-2.26,2.26-2.26h9.7c1.25,0,2.26,1.01,2.26,2.26Z\" style=\"stroke-width: 0px;\"/>" +
      "<g>" +
        "<line x1=\"9.37\" y1=\"7.11\" x2=\"17.95\" y2=\"7.11\" style=\"fill: none; stroke: #fff; stroke-miterlimit: 10; stroke-width: .5px;\"/>" +
        "<line x1=\"9.26\" y1=\"9.26\" x2=\"17.84\" y2=\"9.26\" style=\"fill: none; stroke: #fff; stroke-miterlimit: 10; stroke-width: .5px;\"/>" +
        "<line x1=\"9.26\" y1=\"11.52\" x2=\"17.84\" y2=\"11.52\" style=\"fill: none; stroke: #fff; stroke-miterlimit: 10; stroke-width: .5px;\"/>" +
      "</g>" +
      "<g>" +
        "<line x1=\"1.87\" y1=\"3.73\" x2=\"6.77\" y2=\"3.73\" style=\"fill: none; stroke: #fff; stroke-miterlimit: 10; stroke-width: .5px;\"/>" +
        "<line x1=\"1.81\" y1=\"5.87\" x2=\"6.71\" y2=\"5.87\" style=\"fill: none; stroke: #fff; stroke-miterlimit: 10; stroke-width: .5px;\"/>" +
        "<line x1=\"1.81\" y1=\"8.13\" x2=\"6.71\" y2=\"8.13\" style=\"fill: none; stroke: #fff; stroke-miterlimit: 10; stroke-width: .5px;\"/>" +
      "</g>" +
    "</svg>";

    string amazonIcon = "<?xml version=\"1.0\" encoding=\"UTF-8\"?>"+
    "<svg id=\"amazon\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 20 19.51\">"+
      "<g>"+
        "<path d=\"M15.66,10.69v-6.68S15.66,0,10.15,0,3.48,3.74,3.77,4.54c0,0,3.19.53,3.48.27s.29-1.95,2.47-1.95,1.89,2.95,1.89,2.95c0,0-8.41-.47-8.41,5.14s6.38,3.74,6.67,3.74,2.32-1.6,2.32-1.6c0,0,1.59,1.94,1.81,1.9s2.83-1.68,2.83-2.44c0-.27-1.16-1.34-1.16-1.87ZM11.6,10.16c0,1.74-4.06,3.61-4.06.53s4.06-2.67,4.06-2.67v2.14Z\" style=\"stroke-width: 0px;\"/>"+
        "<path d=\"M0,16.04c0-.27,4.64,2.14,9.28,2.14,5.8,0,8.68-1.6,8.68-1.2,0,.13-1.72,2.54-8.68,2.54-5.76,0-9.28-3.21-9.28-3.47Z\" style=\"stroke-width: 0px;\"/>"+
      "</g>"+
      "<path d=\"M16.06,16.15c0-.35,3.33-.8,3.84-.35s-.96,3.17-1.28,3.17.64-2.31.32-2.6c-.45-.41-2.88,0-2.88-.23Z\" style=\"stroke-width: 0px;\"/>"+
    "</svg>";

    string audioBookIcon = "<?xml version=\"1.0\" encoding=\"UTF-8\"?>" +
    "<svg id=\"audiobook\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 19.65 20.5\">" +
      "<path d=\"M0,.06v15.58l7.05,4.18s.9.67,2.13.67c1.64,0,2.67-.67,2.67-.67l7.81-3.88c0-.09,0-15.46,0-15.46l-7.96,4.72s-.06,1.12-2.52,1.12c-1.64,0-1.74-1.12-1.74-1.12C7.43,5.2.07.01,0,.06Z\" style=\"stroke-width: 0px;\"/>" +
      "<path d=\"M.62,0h2.05l6.78,5.1L14.38.44h4.52l-7.8,4.65s-.21.66-1.85.66c-1.03,0-1.44-.89-1.44-.89L.62,0Z\" style=\"stroke-width: 0px;\"/>" +
      "<circle cx=\"9.83\" cy=\"13\" r=\"5\" style=\"fill: #fff; stroke-width: 0px;\"/>" +
      "<path d=\"M13.28,13.49l-4.78,2.73c-.37.21-.82-.06-.82-.48l.02-5.5c0-.42.46-.68.82-.47l4.76,2.77c.36.21.36.74,0,.95Z\" style=\"stroke-width: 0px;\"/>"+
    "</svg>";

    string matthew713Icon ="<?xml version=\"1.0\" encoding=\"UTF-8\"?>" +
    "<svg id=\"Layer_1\" data-name=\"Layer 1\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 19.85 19.75\">"+
      "<path d=\"M0,0c6.62,0,13.23,0,19.85,0,0,6.58,0,13.16,0,19.75-6.62,0-13.23,0-19.85,0C0,13.16,0,6.58,0,0ZM13.38,7.35c.11-.04.24-.08.36-.14.63-.28,1.27-.43,1.95-.27.65.16.94.54.91,1.19-.03.64-.45,1.14-1.05,1.22-.2.03-.4.04-.6.02-.46-.05-.59.18-.57.6.03.59.09.65.67.66.12,0,.24,0,.35,0,.92.04,1.56.54,1.67,1.31.11.8-.47,1.64-1.29,1.87-.76.21-1.51.08-2.2-.25-.45-.22-.68-.1-.82.34-.04.13-.14.26-.12.38.02.16.09.41.2.46,1.4.53,2.84.71,4.26.11,1.09-.46,1.64-1.34,1.68-2.53.04-1.12-.57-1.81-1.55-2.24-.05-.02-.1-.07-.17-.12.11-.08.19-.13.28-.19.82-.51,1.1-1.28,1.01-2.2-.09-.9-.61-1.47-1.46-1.74-1.05-.34-2.11-.3-3.17.01-1.01.3-1.1.59-.44,1.45.02.02.05.04.1.07ZM5.22,7.08c-1.17,2.58-2.3,5.08-3.44,7.62.2.11.36.21.54.29.89.39,1.12.28,1.47-.63,1.03-2.65,2.08-5.3,3.13-7.95.18-.45-.03-.8-.52-.8-1.66,0-3.32,0-4.98,0-.13,0-.36.05-.36.08-.02.36-.02.72.02,1.08.04.34.33.32.59.32,1.14,0,2.28,0,3.56,0ZM10.88,5.68c-1.16-.36-1.98.37-2.9.73-.07.03-.14.19-.14.28.01.53.44.84.94.69.15-.04.31-.08.55-.14v7.91h1.54V5.68Z\" style=\"stroke-width: 0px;\"/>" +
      "<path d=\"M13.38,7.35s-.08-.04-.1-.07c-.66-.85-.57-1.14.44-1.45,1.05-.32,2.11-.35,3.17-.01.85.27,1.36.84,1.46,1.74.09.92-.19,1.69-1.01,2.2-.08.05-.17.11-.28.19.07.05.12.1.17.12.98.43,1.59,1.11,1.55,2.24-.04,1.18-.59,2.06-1.68,2.53-1.42.6-2.86.43-4.26-.11-.11-.04-.18-.29-.2-.46-.01-.12.08-.25.12-.38.14-.43.36-.55.82-.34.69.33,1.44.46,2.2.25.83-.23,1.4-1.07,1.29-1.87-.1-.77-.74-1.27-1.67-1.31-.12,0-.23,0-.35,0-.59,0-.64-.07-.67-.66-.02-.42.11-.64.57-.6.2.02.4,0,.6-.02.6-.08,1.03-.58,1.05-1.22.03-.65-.26-1.03-.91-1.19-.68-.16-1.33,0-1.95.27-.12.05-.25.09-.36.14Z\" style=\"fill: #fff; stroke-width: 0px;\"/>" +
      "<path d=\"M5.22,7.08c-1.28,0-2.42,0-3.56,0-.26,0-.54.02-.59-.32-.04-.36-.04-.72-.02-1.08,0-.03.24-.08.36-.08,1.66,0,3.32,0,4.98,0,.49,0,.7.36.52.8-1.05,2.65-2.1,5.29-3.13,7.95-.35.91-.58,1.03-1.47.63-.18-.08-.35-.18-.54-.29,1.15-2.54,2.28-5.03,3.44-7.62Z\" style=\"fill: #fff; stroke-width: 0px;\"/>" +
      "<path d=\"M10.88,5.68v9.47h-1.54v-7.91c-.24.06-.4.09-.55.14-.5.15-.93-.16-.94-.69,0-.1.06-.25.14-.28.92-.36,1.73-1.09,2.9-.73Z\" style=\"fill: #fff; stroke-width: 0px;\"/>" +
    "</svg>";

    string everAndIcon = "<?xml version=\"1.0\" encoding=\"UTF-8\"?>" +
    "<svg id=\"Layer_1\" data-name=\"Layer 1\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 17.27 20\">" +
    "<path d=\"M12.23,17.97c-1.11.55-2.11,1.16-3.2,1.54-1.46.51-3,.63-4.54.3C1.71,19.22-.07,16.98,0,14.22c.08-3.03,1.75-4.86,5-5.51.05,0,.1-.02.19-.04-.49-.6-.99-1.16-1.43-1.76-1.4-1.87-1.19-4.45.57-5.86C5.84-.17,7.63-.2,9.43.33c1.42.42,2.62,1.79,2.92,3.29h-3.08c-.04-.12-.08-.22-.11-.33-.2-.74-.57-1.34-1.41-1.46-.8-.11-1.57,0-2.06.7-.5.72-.48,1.52,0,2.21.64.92,1.39,1.76,2.1,2.63.59.72,1.19,1.44,1.86,2.23-.87,0-1.63.03-2.39,0-2.14-.11-3.37,1.28-3.65,3.04-.19,1.21-.01,2.39.65,3.46.84,1.35,2.17,1.76,3.69,1.68,1.17-.06,2.23-.46,3.12-1.32-1.26-1.66-2.51-3.31-3.8-5.02.18-.02.3-.05.42-.05.92,0,1.85.02,2.77-.01.43-.02.69.12.92.47.32.49.7.94,1.05,1.41.09.11.19.21.34.38.53-1.77.27-3.35-.8-4.9.88,0,1.69-.02,2.49.02.11,0,.25.32.31.51.57,1.9.41,3.75-.48,5.52-.21.42-.17.69.12,1.05.91,1.12,1.76,2.28,2.64,3.43.08.1.14.22.24.39-1.23,0-2.38.01-3.54-.01-.15,0-.33-.16-.43-.29-.4-.49-.78-1-1.07-1.39Z\" style=\"fill: #0840aa; stroke-width: 0px;\"/>" +
    "</svg>";
}