<div>
<MudPaper Width="100%" Elevation="0" Class="py-3" >
    <MudNavMenu Bordered="true">
        <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home"  >Home</MudNavLink>
        <MudNavLink Href="radio" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Radio" >Radio</MudNavLink>
            <MudNavLink Href="topical" Match="NavLinkMatch.Prefix" Icon="@topicalIcon2">Topical</MudNavLink>
        <MudNavLink Href="verse" Match="NavLinkMatch.Prefix" Icon="@vbvIcon" >Verse by Verse</MudNavLink>
        <MudNavGroup Title="Extras" Expanded="false" >
            <MudNavLink Href="https://www.youtube.com/channel/UCxjboKtWGPrVVfzCfoMac7w" Icon="@Icons.Custom.Brands.YouTube" Target="_blank" >YouTube</MudNavLink>
            <MudNavLink Href="https://podcasts.apple.com/us/podcast/the-narrow-path-radio-program-1-hour/id171641936" Target="_blank" Icon="@Icons.Material.Filled.Podcasts" >Podcasts</MudNavLink>
                <MudNavLink Href="https://opentheo.org/steve-gregg" Target="_blank" Icon="@openTheosIcon">OpenTheo</MudNavLink>
            <MudNavLink Href="https://www.thenarrowpath.com/" Icon="@tnpIcon" Target="_blank" >The Narrow Path</MudNavLink>
        </MudNavGroup>  
    </MudNavMenu>
</MudPaper>
</div>
@code{

    string tnpIcon = "<svg style=\"width:20px;height:20px\" viewBox=\"0 0 20 20\">" +
    "<path d=\"M0,20.16V.24h20.16v19.92H0ZM9.08,19.12h2.03V7.17h4.42v-2.04h-4.49V1.28h-2v3.88h-4.4v2.08h4.44v11.87Z\"/>" +
    "<path d=\"M20.16.24c-6.72,0-13.44,0-20.16,0C.08.16.16,0,.24,0c6.56-.01,13.12-.01,19.68,0,.08,0,.16.15.24.23Z\"/>"+
    "<path d=\"M0,20.16h20.16c-.08.08-.16.23-.24.23-6.56.01-13.12.01-19.69,0-.08,0-.16-.15-.24-.23Z\"/>" + "</svg>";

    string vbvIcon = "<svg style=\"width:20px;height:24px;\" viewBox=\"0 0 12.95 15.1\">" +
    "<path d = \"M11.82.35v12.91H3.23V.35h8.6ZM7.52,2.73v8.55M5.3,4.35h4.45M2.25.26C.25.35.25,2.68.25,3.35v11.41c1,.59,1-2.42,2-2.42V.26ZM1.97,14.85h10.72V1.35\" style=\"fill: none; stroke:#0840AA; stroke-miterlimit: 10; stroke-width: 1px;\" />" +
    "</svg>";

    string openTheosIcon = "<svg style=\"width:20px;height:20px\" viewBox=\"0 0 20 20\">" +
    "<path d = \"M17.32,20H2.68c-1.48,0-2.68-1.2-2.68-2.68V2.68C0,1.2,1.2,0,2.68,0h14.63c1.48,0,2.68,1.2,2.68,2.68v14.63c0,1.48-1.2,2.68-2.68,2.68ZM10,2c-3.59,0-6.5,3.58-6.5,8s2.91,8,6.5,8,6.5-3.58,6.5-8S13.59,2,10,2Z\" style=\"stroke-width: 0px;\"/>" +
    "<g>" +
    "<ellipse cx = \"10\" cy=\"10\" rx=\"6\" ry=\"7.5\" style=\"stroke-width: 0px;\"/>" +
    "<path d = \"M10,3c3.03,0,5.5,3.14,5.5,7s-2.47,7-5.5,7-5.5-3.14-5.5-7,2.47-7,5.5-7M10,2c-3.59,0-6.5,3.58-6.5,8s2.91,8,6.5,8,6.5-3.58,6.5-8S13.59,2,10,2h0Z\" style=\"fill: #fff; stroke-width: 0px;\"/>" +
    "</g>" +
    "</svg>";

    string topicalIcon2 = "<svg style=\"width:20px;height:20px;\" viewBox=\"0 0 19.06 19.99 \">" +
    "<path d=\"M1.41,14.38l-1.04.73,7.31,3.65s.21.84,1.25.84.84-.31.84-.31l8.83-.16s-.48-1.72-1.11-1.62c-.1.02-7.14.26-7.48.55s-.66.6-.97.5-.63-1.04-.63-1.04l-6.99-3.13Z \" style=\"stroke-width: 1px;\"/>" +
    "<path d=\"M.05,15.48l7.41,3.55s.31.84,1.04.84h1.65l8.9-.21 \" style=\"fill: none; stroke: #0840AA; stroke-miterlimit: 10; stroke-width: .5px;\"/>" +
    "<polyline points=\"2.56 13.03 3.5 12.5 8.05 14.87 \" style=\"fill: none; stroke: #0840AA; stroke-miterlimit: 10; stroke-width: .5px;\"/>" +
    "<path d=\"M11.05,14.87s3.88-1.43,5.11-1.11l.91,1.25\" style=\"fill: none; stroke: #0840AA; stroke-miterlimit: 10; stroke-width: .5px;\"/>" +
    "<path d=\"M9.71,15.74l.29-4.15h-.55l-.14,4.15h.4Z \" style=\"stroke: #000; stroke-miterlimit: 10; stroke-width: .25px;\"/>" +
    "<path d=\"M6.21,9.06s.3,2.56,3.75,2.56c2.59,0,3.24-2.56,3.24-2.56\" style=\"fill: none; stroke: #000; stroke-miterlimit: 10; stroke-width: .5px;\"/>" +
    "<rect x=\"6.74\" y=\".12\" width=\"5.95\" height=\"9.74\" rx=\"1.99\" ry=\"1.99\" style=\"stroke: #000; stroke-miterlimit: 10; stroke-width: .25px;\"/>" +
    "<rect x=\"6.58\" y=\"2.79\" width=\"2.94\" height=\".44\" style=\"fill: #fff; stroke-width: .5px;\"/>" +
    "<rect x=\"6.58\" y=\"3.83\" width=\"2.94\" height=\".44\" style=\"fill: #fff; stroke-width: .5px;\"/>" +
    "<rect x=\"6.58\" y=\"4.88\" width=\"2.94\" height=\".44\" style=\"fill: #fff; stroke-width: .5px;\"/>" +
    "<path d=\"M7.83,18.82c-.06-.26.63-.1,1.15.1s.73.21.63.42-.73.26-1.1.08-.57-.18-.68-.6Z \" style=\"fill: #fff; stroke-width: 0px;\"/>" +
    "</svg>";
   
}